@media (min-width: 320px) and (max-width: 568px ) {
    header  h1{
       font-size: 1.7em;
   }
}

@font-face {
    font-family: 'Catamaran';
    src: url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
:root{
    --cor1:white;
    --cor2:#D9B2A9;

}
body{
    background-color: var(--cor2);
}

h1{
    font-family: 'Catamaran'Arial, Helvetica, sans-serif;
    font-size: 2.6em;
    text-align: center;
    color:var(--cor1) ;
}
main{
    margin: 0px;
    display: block;
    background-color: black;
}
h2{
    margin: 0px;
}
